<div class="container">

  <h1>Submit a New Question</h1>
  <div id="form-container">
    <form action="/questions" method="POST">
      <label for="question[title]">Title</label>
      <input type="text" name="question[title]" placeholder="Enter title here" value="<%= @question.title %>"/>
      <label for="question[body]">Body</label>
      <textarea name="question[body]" placeholder="Enter question body" cols="50" rows="10" ><%= @question.body %></textarea>
      <input type="submit" value="Submit Question" />
    </form>
  </div>
</div>
