<div class="container">

  <h1><%= @question.title %></h1>
  <div class="voting-area">
    <span class="up-vote"></span>
    <span class="score"></span>
    <span class="down-vote"></span>
  </div>
  <div class="question-body">
    <%= @question.body %>
  </div>

</div>
