<div class="container">

  <h1><%= @question.title %></h1>
  <%= erb :"_post", locals: {post: @question, post_type: "Question" } %>

  <div class="answers">
    <%= erb :"answers/_listing", locals: {answers: @question.answers} %>
  </div>

  <% if logged_in? %>
  <div class="new-answer-form">
    <h3>Your Answer</h3>
    <form action="/answers" method="POST">
      <textarea name="answer[body]"></textarea>
      <input type="hidden" name="question[id]" value="<%=@question.id%>">
      <input type="submit" value="Submit your answer">
    </form>
      <a href="/answers/#{id}/edit">Click here to edit</a>
  </div>
  <% else %>
    <a href="/sessions/new">Log in to answer this question.</a>
  <% end %>

</div>

