* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}


#topbar-wrapper{
  background-color: #232323;
}

#topbar {
  color: #eee;
  width: 1200px;
  height: 30px;
  padding: 12px 0;
  margin: auto;
  position: relative;
}

#topbar h4 {
  display: inline-block;
}

#topbar-links {
  display: inline-block;
  position: absolute;
  right: 0;
  vertical-align: middle;
}

#topbar-links a, #topbar-links input[type=submit] {
  background: none;
  border: none;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: background, 0.15s, ease;
  padding: 4px;
}

#topbar-links a:hover, #topbar-links input[type=submit]:hover {
  display: inline-block;
  text-decoration: none;
  background-color: #f90;
  color: #232323;
  border-radius: 2px;
}

#topbar-links form{
  display: inline-block;
}

header img {
  display:inline-block;
}

header {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  vertical-align: middle;
  position: relative;
}

header h1, header nav {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  bottom: 50px;
}

header h1{
  height: 40px;
  padding: 0px 0px 8px 0px;
}

header h1:hover {
  height: 38px;
  padding: 0px 0px 8px 0px;
  border-bottom: 2px solid #E7E7E7;
}

#homelink {
  text-decoration: none;
}

h1 {
  color: #222;
}

h1 span {
  color: #f90;
}

header nav {
  right: 0px;
}

.nav-link {
  display: inline-block;
  background-color: #858d93;
  padding: 4px 10px 5px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background, 0.15s, ease;
}

.nav-link:hover {
  background-color: #f90;
}


#main {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

#left {
  margin: 0;
  padding: 0;
  width: 75%;
}

#right {
  float:right;
  width: 20%;
  height: 100%;
}

.gray-ad {
  padding: 5px;
  background-color: #E7E7E7;
}

#left h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
}

.question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}

.question-list li {
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
}

.question-list li a, .container a {
  text-decoration: none;
  color: #0c65a5;
}

.question-list li a:hover, .container a:hover {
  color: #30a7fc;
}

#footer-wrapper {
  background-color: #2F2F2F;
  padding: 10px;
}

footer {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  height: 400px;
}



/* ---------------------- questions show styles ---------------------------- */


.container {
  padding-bottom: 20px;
}

.container h1 {
  font-size: 22px;
  line-height: 1.3;
  padding: 5px 0 10px;
  margin: 0px 0 10px;
  border-bottom: 1px solid #e5e5e5;
}

#question-banner-ad {
  margin: 15px 0;
  height: 50px;
  background-color: #000;
  background: linear-gradient( to left, #000, #f90);
  color: #fff;
  padding: 15px;
  text-align: right;
}

#vote-column {
  /*background-color: green;*/
  display: inline-block;
  width: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.voting-area {
  text-align: center;
  margin: 0;
  padding: 0;
  /*background-color: yellow;*/
  display: inline-block;
}

#post-content {
  /*background-color: red;*/
  display: inline-block;
  width: 90%;
  margin: 0 auto 20px;

  vertical-align: top;
}


#comment-wrapper {
  /*background-color: blue;*/
  margin: 10px 0 10px;
  border-bottom: 1px solid #EFEFEF;
  padding: 10px 0 20px;
}

.comment-body{
  /*background-color: white;*/
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.comment-body p{
  vertical-align: top;
}

.post-comments {
  /*background-color: white;*/
}


.post-body {
  /*padding: 10px;*/
}

.post-author {
  padding: 5px;
  font-size: 12px;
  margin: 5px 0;
  line-height: 1.3;
  text-align: right;
  float: right;
}

.post-author a {
  text-decoration: none;
  color: #07c;
}

.post-author a:hover {
  color: #30a7fc;
}

.question-author-box {
  background-color: #e0eaf1;
  text-align: left;
}

.post-comments {
  padding: 5px 0;
  border-top: 1px solid #e5e5e5;
  clear: both;
}

#answers-header {
  margin: 20px 0 40px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

/* ------------------------------------------------------------------------- */


/* ----------------------------USER PROFILE -------------------------------- */
#questions h4{
  margin-bottom: 0;
  color: #222;
  font-weight: 400;
}

#answers h4{
  margin-bottom: 0;
  color: #222;
  font-weight: 400;
}

#comments h4{
  margin-bottom: 0;
  color: #222;
  font-weight: 400;
}

.count{
  font-weight: normal;
  color: #808080;
}

.profile-question-list{
  overflow: scroll;
  height: 300px;
}

.profile-score{
  text-align: center;
  display: inline-block;
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  color: #777;
  padding: 5px 5px 6px 5px;
}
.answer-count{
  text-align: center;
  display: inline-block;
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  color: #777;
  padding: 5px 5px 6px 5px;
}

.answered-count{
  text-align: center;
  display: inline-block;
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  padding: 5px 5px 6px 5px;
  background-color: #75845c;
  color: #fff;
}

.comment-count{
  text-align: center;
  display: inline-block;
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  color: #777;
  padding: 5px 5px 6px 5px;
}

.profile-title {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  vertical-align: top;
}

.date {
  display: inline-block;
  color: #999;
  float:right;
  font-size: 10px;
  margin-top: 30px;
}


.profile-answer-list{
  overflow: scroll;
  height: 300px;
}

.row {
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 0 10px 0;
}

.row a{
  color: #0c65a5;
  text-decoration: none;
  vertical-align: top;
}

.tab {
    display: none;
}
.tabs {
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;

}
.tabs li {
    float: right;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-bottom-color: #fff;
    border-top: 2px solid #f90;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

li.profile-user {
  float:left;

}

.profile_nav {
  display: none;

}

.username_default{
  padding: 10px;
}



/* ------------------------------------------------------------------------- */







/*---------- font awesome ----------*/


#font-awe-button, #font-awe-button span {
  background: none;
  background-color: none;
  border: none;
  color: #575757;
}

#font-awe-button:hover, #font-awe-button span:hover {
  background: none;
  background-color: none;
  border: none;
  color: #f90;
}

#font-awe-button:hover, #font-awe-button span:active {
  background: none;
  background-color: none;
  border: none;
  color: #f90;
}
/*----------------------------------*/



