* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#topbar-wrapper{
  background-color: #232323;
}

#topbar {
  color: #eee;
  width: 1200px;
  padding: 12px 0;
  margin: auto;
}

header {
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  vertical-align: middle;
  position: relative;
}

header h1, header nav {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  bottom: 50px;

}

#homelink {
  text-decoration: none;
}

h1 {
  color: #222;
}

h1 span {
  color: #f90;
}



header nav {
  right: 0px;
}

.nav-link {
  display: inline-block;
  background-color: #858d93;
  padding: 4px 10px 5px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background, 0.15s, ease;
}

.nav-link:hover {
  background-color: #f90;
}



#main {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

#left {
  margin: 0;
  padding: 0;
  width: 75%;
}

#right {
  float:right;
  width: 20%;
  height: 100%;
}

.gray-ad {
  padding: 5px;
  background-color: #E7E7E7;
}


#left h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
}


.question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e0e0e0;
}

.question-list li {
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
}

.question-list li a {
  text-decoration: none;
  color: #0c65a5;

}

.question-list li a:hover {
  color: #30a7fc;
}

#footer-wrapper {
  background-color: #2F2F2F;
  padding: 10px;
}

footer {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  height: 400px;
}



/* ---------------------- questions show styles ---------------------------- */

.container h1 {
  font-size: 22px;
  line-height: 1.3;
  padding: 5px 0 10px;
  margin: 0px 0 10px;
  border-bottom: 1px solid #e5e5e5;
}

#question-banner-ad {
  margin: 15px 0;
  height: 50px;
  background-color: #000;
  background: linear-gradient( to left, #000, #f90);
  color: #fff;
  padding: 15px;
  text-align: right;
}

#vote-column {
  display: inline-block;
  width: 9.5%;
  height: 500px;
  /*background-color: green;*/
}

#post-content {
  /*background-color: red;*/
  display: inline-block;
  width: 85%;
  margin: 0 auto;
  vertical-align: top;
}

.post-body {
  /*padding: 10px;*/
}

.post-author {
  padding: 5px;
  font-size: 12px;
  margin: 5px 0;
  line-height: 1.3;
  text-align: right;
}

.post-author a {
  text-decoration: none;
  color: #07c;
}

.post-author a:hover {
  color: #30a7fc;
}

.question-author-box {
  background-color: #e0eaf1;
  width: 120px;
  text-align: left;
}

.post-comments {
  padding: 5px 0;
  border-top: 1px solid #e5e5e5;
}

/* ------------------------------------------------------------------------- */



