<div class="voting-area">
  <span class="up-vote"></span>
  <span class="score"></span>
  <span class="down-vote"></span>
</div>
<div class="post-body">
  <%= post.body %>
</div>
<div class="post-author">
  Asked on <%= post.formatted_post_date %> by: <%= post.author_username %>
</div>
<div class="post-comments">
  <%= erb :"comments/_listing", locals: {comments: post.comments} %>
</div>
