<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="topbar-wrapper">
    <div id="topbar">
      <h4>Some text to give height</h4>
    </div>
  </div>

  <header>
    <a id="homelink" href="/" ><h1>Stack<span>Overthrow</span></h1></a>
    <nav>
      <a class="nav-link" href="#">awesome</a>
      <a class="nav-link" href="#">cool</a>
      <a class="nav-link" href="/questions/new">Create a new question</a>
    </nav>
  </header>


  <div id="main">
    <section id="right">
      <div class="gray-ad">
        <h5>Nickle ads</h5>
        <p>Need to spend extra money?</p>
        <p>Email at nbkincaid@gmail.com for ways to get rid of excess cash.</p>
      </div>

      <div class="blue-ad">

      </div>
    </section>
    <section id="left">
      <%= yield %>
    </section>
  </div>

  <div id="footer-wrapper">
    <footer>

    </footer>
  </div>
</body>
</html>
