<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="topbar-wrapper">
    <div id="topbar">

      <div id="topbar-links">
        <% if logged_in? %>
          <a href="/users/<%= current_user.id %>">Profile</a>
          <form action='/sessions' method='post'>
            <input name="_method" type="hidden" value="delete" />
            <input type="submit" value="Sign out">
          </form>
        <% else %>
          <a href='/sessions/new'>Sign in</a>
          <a href='/users/new'>Sign up</a>
        <% end %>
      </div>
    </div>
  </div>

  <header>
    <a href="/"><h1><img src="/assets/stackoverthrow.png" alt="gumbercules" height="40px"> Stack<span>Overthrow</span></h1></a>
    <nav>
      <a class="nav-link" href="/questions">Questions</a>
      <a class="nav-link" href="/questions/new">Create a new question</a>
    </nav>
  </header>


  <div id="main">

    <button type="submit" id="font-awe-button">
      <span class="fa fa-caret-up"></span>
    </button>

    <button type="submit" id="font-awe-button" >
      <span class="fa fa-caret-down"></span>
    </button>

    <section id="right">
      <div class="gray-ad">
        <%= ad_generator %>
      </div>

      <div class="blue-ad">

      </div>
    </section>
    <section id="left">
      <%= yield %>
    </section>
  </div>

  <div id="footer-wrapper">
    <footer>

    </footer>
  </div>
</body>
</html>
